header{
  display: flex;
  max-height: 50px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom:2px solid  rgb(157, 157, 157);
  background-color: white;
  /* margin-left: 51.67px; */
}

header div.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

header div div.Logo{
  padding-left: 2.5rem;
  display:flex;
  align-items: center;
}
hr{
  width: 37.03px;
height: 0px;

border: 1px solid rgb(157, 157, 157);
transform: rotate(90deg);
}
header div .logo{
  width: 32.42px;
  display: inline;
}

header div .searchBar{
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 0px;

}

header span{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-left: 8px;
}

div .searchImg .logo2{
  width: 10px;
  display: inline;
  padding-top: 4px;
}

div .searchBox{
  padding-bottom: 1px;
  padding-top: 5px;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

div .searchBar input::placeholder{
  text-align: center;
  color: #A7AEBA;
}

div .searchBox:focus{
  text-align: center;
  border: 3px solid grey;
  border-radius: 12px;
  outline: none;
}
.a{
  display: flex;
  
}
.right{
  display: flex;
  flex: 90%;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex: 10%;
  flex-flow: column;
  top: 0px;
  justify-content: space-between;
  padding-bottom: 28px;
  margin: 3px;
  border-right-width: 2px;
  grid-column: span 1 / span 1;
  border-right-color: rgb(168 162 158);
  
}

main ul{
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 1.rem;
  font-weight: bold;
  
  padding: 8px;
  text-align: center;
}

main ul li {
  list-style-type: none;
  font-size: 1.125rem; 
  line-height: 1.75rem;
  margin: 0.25rem;
  margin-left: 24px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 20px;
  
} 
a{
  text-decoration: none;
  color: black;
}
main ul li:hover {
   background-color:rgb(203, 202, 202);
  border: solid 2px black;
  
}

.Add{
  display: flex;
  flex-flow: column;
  padding: 6px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-weight: 900;
}
.Add:hover{
background-color: white;
color: black;
border: solid 1px black;


}
.right1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

}
.right2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.movie_image{
  height: 35vh;
  width: 30vh;
}
.movie_name{
 font-family: 'Times New Roman', Times, serif;
 justify-content: space-between;
 display: flex;
}